.wrapper {
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
  width: 500px;
  max-width: 90%;
  padding: 50px 40px;
  background: #1d1d1d;
  border-radius: 20px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(71 85 105);
 
}
.titleWrapper{
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
