.NavBar{
    padding: 20px 0;
    display: flex;
 }
 .Link{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:10px
 }
 .rightNav{
   display: flex;
   /* justify-content: baseline; */
   align-items: center;
   gap:10px
 }
 .rightNav img{
   border-radius: 50%;
   overflow: hidden;
   border:  3px solid #0077ff;
   background-repeat: no-repeat;
   object-fit: cover;
 }
 .logoutButton{
 
  cursor: pointer;

 }
